<section class="hidden-xs">
    <ul class="cb-slideshow">
        <li><span>少看书</span></li>
        <li><span>少看书</span></li>
        <li><span>少看</span></li>
        <li><span>那些</span></li>
        <li><span>没用</span></li>
        <li><span>的书</span></li>
    </ul>
</section>